<div class="footer">
    <div class="cWarp">
        <ul>
            <li>
                <a target="_blank" href="{$CATEGORYS[13][url]}" class="til">电子期权</a>
				{pc:content action="lists" catid="13" num="5"}
					{loop $data $v}
						 <a target="_blank" href="{$v[url]}">{$v[title]}</a>
					{/loop}
				{/pc}
                
            </li>
            <li>				<a target="_blank" href="javascript:;" class="til">新手指南</a>				{pc:content action="lists" catid="26" num="5"}					{loop $data $v}					
						<a target="_blank" href="{$v[url]}">{$v[title]}</a>					{/loop}									{/pc}
              
            </li>
            <li>
                <a target="_blank" href="javascript:;" class="til">关于我们</a>				{pc:content action="lists" catid="27" num="5"}					{loop $data $v}						<a target="_blank" href="{$v[url]}">{$v[title]}</a>					{/loop}									{/pc}
            </li>
            <li class="last ft-wm">
                <span class="wx dyh">时光财讯</span>
                <span class="wx">微信看盘</span>
                <span class="app">手机客户端</span>
            </li>
            <li class="last">
                <p class="til-ic">全国服务热线：</p>
                <p class="bd">+85-258081529</p>
                <p>周一到周五8:30-20:30</p>
                <p>周六到周日9:00-17:00</p>
            </li>
        </ul>
    </div>
</div>

<div class="foot-bt">
	<p>Copyright (c) 2015 Copyright www.kleyqq.com All Rights Reserved.  <a href="/sitemap.html">网站地图</a></p>
    <p class="ft-ad">投资有风险 入市需谨慎 最终收益以实际为准</p>
    <span>
		<a key="583e910aefbfb014cd56a036" logo_size="124x47"  logo_type="business" class="lk01" href="http://www.anquan.org" ><script src="//static.anquan.org/static/outer/js/aq_auth.js"></script></a>
		<a id="_pingansec_bottomimagelarge_p2p" class="lk02" href="http://si.trustutn.org/info?sn=635161205000549784713&certType=4"></a>
    </span>
</div>

<a href="javascript:gotoTop()" class="gotoTop"></a>
{js('common.js')}
</body>
</html>
<script language="javascript" src="http://pqt.zoosnet.net/JS/LsJS.aspx?siteid=PQT35234013&float=1&lng=cn"></script>
<a id="tousubtn" href="http://t.hpoption.top/index.php/home/index/wytousu" title="我要投诉" target="_blank"></a>
<div class="wxq">
	<a href="/webcast/share.html">股票直播</a>
	<a href="/webcast/share.html">期货直播</a>
</div>