{template "content","header"}
{css('news.css')}

<div class="newWarp">
	<div class="newLeft">
		<div class="newListhead">
			<h2>新闻资讯</h2>
		</div>
		<div class="newCrumbs">
			<a href="{siteurl($siteid)}">首页</a><span> &gt; </span>{catpos($catid)}
		</div>
		<div class="jinshiBox">
			<iframe src="http://www.jin10.com/jin10.com" scrolling="no"></iframe>
		</div>
	</div>
	
	<div class="newRight">
		<div class="newSider">
			<h3 class="title">推荐关注</h3>
			<div class="dingYue">
				<img alt="" src="https://img.okcoin.cn/v_20161108002/image/shequ/new/order.jpg">
				<p>关注 okcoin 订阅号<br></p>
				<p>了解比特币及时资讯，免费领取比特币</p>
			</div>
		</div>
		<div class="newSider">
			<h3 class="title">推荐关注</h3>
			<div class="newSList">
						
				<li>
					<span class="circle"></span>
					<a href="/t-1016387.html" name="titleName">
						“OK说”第5期：比特币链接未来价值
					</a>
				</li>
			
				<li>
					<span class="circle"></span>
					<a href="/t-1016343.html" name="titleName">重磅！OKCoinPC客户端2.0上线推出七重大礼，玩家表示不约...</a>
				</li>
			
				<li>
					<span class="circle"></span>
					<a href="/t-1016286.html" name="titleName">
						“OK说”第4期：从量化交易的角度来诠释—横盘如何赚钱！
					</a>
				</li>
			
				<li>
					<span class="circle"></span>
					<a href="/t-1016204.html" name="titleName">
						“OK说”第三季带你从行情数据中（资讯）看比特币
					</a>
				</li>
			
				<li>
					<span class="circle"></span>
					<a href="/t-1014338.html" name="titleName">
								OKCoin徐明星演讲&nbsp;区块链技术解读及应用实践
					</a>
				</li>
			
				<li>
					<span class="circle"></span>
					<a href="/t-1014780.html" name="titleName">
								理性还是狂热，区块链下一步走向何方？
					</a>
				</li>
			
				<li>
					<span class="circle"></span>
					<a href="/t-1014992.html" name="titleName">
								纳斯达克为其全球交易伙伴开放区块链服务
					</a>
				</li>
			
				<li>
					<span class="circle"></span>
					<a href="/t-1015027.html" name="titleName">
								徐明星分析比特币吸引投资者青睐原因
					</a>
				</li>
						
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>

{template "content","footer"}